.section__1 {
  color: #ced3fc;
  &__h1 {
    color: $font-light;
    font-size: 3.1rem;
  }
  &__h1--views {
    color: $font-light;
  }
  &__h4--views {
    color: $font-light;
  }
  &__p {
    color: $font-freak;
  }
  &__img {
    padding: 1rem;
    transition: transform 0.3s;
    &:hover,
    &:focus {
      opacity: 0.65;
      transform: scale(1.03);
    }
  }
}

:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

.reveal-text {
  &::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 1000ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  animation-name: clip-text;
  color: #fff;
  white-space: nowrap;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*     background-color: #ff4fc6; */
    background-color: $bg-transparent_fucsia;
    backdrop-filter: $bg-blur;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
.freelo__calculator {
  backdrop-filter: $bg-blur;
  border-radius: 10px ;
}
