$bg-regular: #080822;
$bg-transparent: rgba(0, 21, 80, 0.6);
$bg-transparent_fucsia: rgba(255, 79, 198, 0.3);
$bg-freak: #8790d8;
$bg-blur: blur(10px);
$font-light: #ffffff;
$font-freak: #ced3fc;
$font-family: OpenSans, sans-serif;
